<div class="container" id="products">
   <div class="products">
      <header>
         <h3>Our Product</h3>
         <button>See all</button>
      </header>
      <div class="items">
         <div class="item">
            <div class="body">
               <h4>Eucalyptus Honey</h4>
               <p>
                  It has the scent of lavender, medium <br />
                  sweetness lavender scented, and has <br />
                  a medium amber color.
               </p>
               <button class="buyBtn">Buy Now</button>
            </div>
            <img src="./img/products/1.png" alt="img" />
         </div>
         <div class="item">
            <div class="body">
               <h4>Basswood Honey</h4>
               <p>
                  Basswood is a tree native and abundant <br />
                  in Wisconsin, which is also known as the <br />
                  Linden tree.
               </p>
               <button class="buyBtn">Buy Now</button>
            </div>
            <img src="./img/products/2.png" alt="img" />
         </div>
      </div>
      <div class="newItems hide">
         <div class="item">
            <div class="body">
               <h4>Eucalyptus Honey</h4>
               <p>
                  It has the scent of lavender, medium <br />
                  sweetness lavender scented, and has <br />
                  a medium amber color.
               </p>
               <button class="buyBtn">Buy Now</button>
            </div>
            <img src="./img/products/1.png" alt="img" />
         </div>
         <div class="item">
            <div class="body">
               <h4>Basswood Honey</h4>
               <p>
                  Basswood is a tree native and abundant <br />
                  in Wisconsin, which is also known as the <br />
                  Linden tree.
               </p>
               <button class="buyBtn">Buy Now</button>
            </div>
            <img src="./img/products/2.png" alt="img" />
         </div>
      </div>
      <div class="newItems hide">
         <div class="item">
            <div class="body">
               <h4>Eucalyptus Honey</h4>
               <p>
                  It has the scent of lavender, medium <br />
                  sweetness lavender scented, and has <br />
                  a medium amber color.
               </p>
               <button class="buyBtn">Buy Now</button>
            </div>
            <img src="./img/products/1.png" alt="img" />
         </div>
         <div class="item">
            <div class="body">
               <h4>Basswood Honey</h4>
               <p>
                  Basswood is a tree native and abundant <br />
                  in Wisconsin, which is also known as the <br />
                  Linden tree.
               </p>
               <button class="buyBtn">Buy Now</button>
            </div>
            <img src="./img/products/2.png" alt="img" />
         </div>
      </div>
   </div>
</div>
