<div class="container" id="about">
   <div class="about">
      <section class="section">
         <div class="picture">
            <img class="tab" src="./img/about/tabBg.png" alt="img" data-aos="fade-right" />
         </div>
         <div class="tagline">
            <h3>
               Honey created in the <br />
               laps of nature.
            </h3>
            <p>
               Honey is one of the prime ingredients in your <br />
               everyday food schedule. As a brand, you need <br />
               a marketing strategy that will help...
            </p>
         </div>
      </section>
      <section class="section">
         <div class="tagline">
            <h3>
               Does your honey taste <br />
               bad? Try us!
            </h3>
            <p>
               Honey is one of the prime ingredients in your <br />
               everyday food schedule. As a brand, you need <br />
               a marketing strategy that will help...
            </p>
         </div>
         <div class="picture">
            <img class="tab" src="./img/about/tabBg.png" alt="img" data-aos="fade-left" />
         </div>
      </section>
   </div>
</div>
